@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  --clr-light: #e3e3e3;
  --clr-dark: #252525;
  --clr-primary: #453c38;
  --clr-secondary: #6a5c55;
  --clr-accent: #e5b737;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff: "Inter", sans-serif;
  --hidden: scroll;
}

.darkmode {
  --clr-light: #e3e3e3;
  --clr-dark: #292421;
  --clr-primary: #ffe3d7;
  --clr-secondary: #d0b9ae;
  --clr-accent: #e5b737;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  transform: translateX(110%);
  transition: transform 350ms ease-in;
}
nav[data-visible="true"] {
  transform: translateX(0%);
}
nav a {
  font-weight: bold;
}
